/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}


/* BODY */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* PAGE CONTENT */

main {
  flex: 1;
  padding: 2rem;
}


/* HEADINGS */

h1 {
  font-family: 'Pacifico', cursive;
}

.hero{
  text-align:center;
  padding:80px 20px;
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url("https://images.unsplash.com/photo-1513104890138-7c749659a591");
  background-size:cover;
  background-position:center;
  color:white;
}

.hero h1{
  font-size:3rem;
}

.hero p{
  margin:20px 0;
  font-size:1.2rem;
}

.about-info{
  max-width:800px;
  margin:60px auto;
  padding:20px;
  text-align:center;
  font-family:'Open Sans', sans-serif;
  line-height:1.6;
}

.about-info h2{
  margin-bottom:20px;
  font-size:2rem;
}

.about-info p{
  margin-bottom:15px;
}