
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}


body{
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

main{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  padding:40px 20px;
}
.icon{
  width:20px;
  height:20px;
  fill:#333;
}



.contact-wrapper{
  display:flex;
  flex-direction:column;
  align-items:center;
}


.student-id{
  margin-top:15px;
  opacity:0;
  transition:opacity 0.3s;
}

.contact-card:hover + .student-id{
  opacity:1;
}

.contact-card h1{
  margin-bottom:10px;
}

.role{
  margin-bottom:25px;
  color:#666;
}



.contact-item{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  margin:12px 0;
  font-size:1.1rem;
}

.contact-item a{
  text-decoration:none;
  color:#333;
}

.contact-item a:hover{
  color:#ffcc66;
}

/* FLOAT IMAGE */
.float-img{
  float:right;
  width:200px;
  margin:0 0 20px 20px;
  border-radius:12px;
}

/* FORM */
.contact-form{
  margin-top:30px;
  background:white;
  padding:25px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  width:300px;
  font-family:'Open Sans', sans-serif;
}

.contact-form h2{
  margin-bottom:15px;
}

.contact-form label{
  display:block;
  margin-top:10px;
  font-size:0.9rem;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  padding:8px;
  margin-top:5px;
  border:1px solid #ccc;
  border-radius:6px;
}

.contact-form textarea{
  resize:none;
  height:80px;
}

/* RED STAR */
.required{
  color:red;
}

/* MESSAGE */
#form-msg{
  margin-top:10px;
  font-size:0.9rem;
}

/* RESPONSIVE */
@media (max-width:768px){
  .float-img{
    float:none;
    width:100%;
    margin:20px 0;
  }
}