

.logo {
  display: flex;
  padding-right: 150px;
  gap: 8px;
  font-family: 'Pacifico', cursive;
  font-size: 1.6rem;
  color: white;
}

.pizza-icon {
  width: 48px;
  height: 48px;
  fill: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center; /* center everything horizontally */
  background-color: #333;
  padding: 0.8rem 1rem;
  position: relative; /* keep this if you want menu links absolute later */
}


nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.3s;
}


nav a:hover {
  color: #ffcc66;
}


nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #ffcc66;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a.active {
  color: #ffcc66;
}

nav a.active::after {
  width: 100%;
}



footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-size: 0.9rem;
}
